PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/hand_embroidered_dresses
JWT_SECRET=multan_luxury_hand_embroidery_secret_key_2026_hed_jwt_super_secure
JWT_EXPIRE=7d
JWT_REFRESH_SECRET=multan_luxury_refresh_token_secret_key_2026_hed
FRONTEND_URL=http://localhost:5173
STORE_NAME=Hand Embroidered Dresses
STORE_PHONE=03186229753
STORE_WHATSAPP=+923186229753
STORE_EMAIL=info@handembroidered.pk
STORE_ADDRESS="Shop No. 7, Bata Wali, Hussain Agahi Main Chowk Bazar, Ghali Colony, near Firdouse Market, Inner City, Multan, 66000, Pakistan"

# Email Configuration (Nodemailer)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Hand Embroidered Dresses <orders@handembroidered.pk>"
